.single{
  width:100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-container{
  width: 140px;
  border: 1px solid black;
  position: relative;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.done-icon,
.error-icon{
  position: absolute;
  top: 5px;
  left:5px;
  width: 25px;
  height: 25px;
}

.upload-label-file {
  cursor: pointer;
}
.upload-label-file svg{
  padding: 20px 20px 10px 20px;
}

#upload {
  display: none;
}

button {
  margin-top: 20px;
  padding: 5px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


svg {
  width: 100px;
  height: 100px;
}

img {
  width: 100px;
  height: 100px;
}
.fileName{
  display: flex;
}