.multiple{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-container{
  border: 1px solid black;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}

.upload-label {
  cursor: pointer;
}

.upload-label svg {
  padding: 20px 20px 10px 20px;
}

#uploadInput {
  display: none;
}

button {
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

svg {
  width: 100px;
  height: 100px;
}

img {
  width: 100px;
  height: 100px;
}

.fileName {
  display: flex;
  flex-direction: column;
}

.uploaded-files {
  display: flex;
  flex-wrap: wrap;

}

.file-item {
  margin: 10px;
  text-align: center;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  border-radius:5px ;
  padding: 30px 20px;

}
.remove-file{
  position: absolute;
  top: 10px;
  right:5px;
  width: 15px;
  height: 15px;
}

.error-message{
  position: absolute;
  display: none;
}


.file-item p {
  margin-top: 5px;
  font-size: 12px;
}
.status-icon{
  position: absolute;
  top: 5px;
  left:5px;
  width: 25px;
  height: 25px;
}
.error-message {
  position: absolute;
  display: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.error-icon:hover + .error-message {
  display: block;
}

//.single-file{
//  width: 100%;
//  display: flex;
//  flex-wrap: wrap;
//  justify-items: center;
//  align-items: center;
//}